<div class="container">
<h1>Semantig parser settings</h1>
  <app-toggle-display #toggleDisplayComponent type="fileTree" showText="Show settings" hideText="Hide settings">
<div class="grammar-loader-container">
  <div>
    <h2>Grammar selection:</h2>
  <app-grammar-loader></app-grammar-loader>
  </div>
  <div>
    <h2>Rule file selection:</h2>
  <app-rule-loader (dataEmitter)="updateData($event)"></app-rule-loader>
</div>
</div>
 <app-gswb-settings #gswbPrefs></app-gswb-settings>
 <app-inference-settings  #vampirePrefs></app-inference-settings>
</app-toggle-display>
</div>

<mat-tab-group *ngIf="tabsInitialized" (selectedIndexChange)="onTabChange($event)">
  <mat-tab label="Chat">
    <div class="tab-content">
      <!-- Placeholder for chat component -->
      <app-chat [ruleString]="ruleFile"
                [axioms]="axioms"
                [gswbPreferences]="gswbPrefs"
                [vampirePreferences]="vampirePrefs"
                [history]="history" (historyChange)="updateHistory($event)"
                [activeIndices]="selectedElements"
                (clearSelection)="onClearSelection()"
                (axiomsChanged)="updateAxioms($event)">
        ></app-chat>
    </div>
  </mat-tab>

  <mat-tab label="History">
    <div class="tab-content">
      <!-- Placeholder for history component -->
     <app-history [history] = "history" (selectionChanged)="onSelectionChanged($event)"> </app-history>
    </div>
  </mat-tab>

  <mat-tab label="Axioms">
    <div class="tab-content">
      <div class="editor-restr">
        <app-editor #axiomEdit [mode]="'vampire'">
        </app-editor>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
