textarea {
  width: 600px;
  height: 50px;
  overflow: auto;
  display: block;
  resize: none;
}

div.ligergraphcontainer{
  max-width: 800px;
  height: 650px;
}

div.errorhandling {
  color: red;
  padding-bottom: 10px;
}

.spinner-border {
  width: 1rem;
  height: 1rem;
  border-width: 0.2em;
}

