<h3> Test sentence: </h3>

<textarea [value]="defaultValue" #textareaElement></textarea> <br>
<div class="errorhandling" #errorhandle></div>
<button (click)="analyzeSentence(textareaElement.value, edit1.getContent())">Parse and rewrite</button>
<button class="button beta" (click)="parseSentence(textareaElement.value, edit1.getContent())">Extract multi-stage</button>
<br>
<app-grammar-loader></app-grammar-loader>


<app-toggle-display type="liger" showText="Show input rules" hideText="Hide input rules">
  <h3> Input rules: </h3>
  <div class="editor-restr">
  <app-editor #edit1 [mode]="'liger'" ></app-editor>
</div>
</app-toggle-display>

<app-toggle-display showText="Show graph vis" hideText="Hide graph vis">
<h3> Graph visualization: </h3>

<div class="ligergraphcontainer">
<app-graph-vis #cy1></app-graph-vis>
<button (click)="showDialog()">Show dialog</button>
</div><br>
</app-toggle-display>

<app-toggle-display type="liger" showText="Show applied rules" hideText="Hide applied rules">
<h3> Rule list: </h3>
<app-rule-list #rl1 (calculateFromRule)="calculateFromRuleList($event)" > </app-rule-list>
</app-toggle-display>
