textarea {
  width: 600px;
  height: 50px;
  overflow: auto;
  display: block;
  resize: none;
}

div.ligergraphcontainer{
  max-width: 800px;
  height: 650px;
}

div.ligereditorcontainer {
  max-width: 800px;
}
