<style>
  .container {
    padding: 15px;
    display: flex;
    flex-wrap: nowrap;
  }
  .scrollable-div {
    position: relative;
    flex: 1;
    overflow-y: auto;
    max-height: 100vh;
    flex-basis: 50%;
    padding-left: 60px
  }

  /* This will trigger when the window width is less than 800px */
  @media (max-width: 1400px) {
    .container {
      flex-direction: column;
    }
    .scrollable-div {
      max-height: none;
      overflow-y: initial;
    }
  }
</style>

<div class="container">
  <div [ngStyle]="{'display': isFirstDivMinimized ? 'none' : 'block'}" class="scrollable-div">
    <button class="toggle-button" (click)="isFirstDivMinimized = !isFirstDivMinimized">
      <<
    </button>
    <app-liger-vis #l1></app-liger-vis>
  </div>
  <button *ngIf="isFirstDivMinimized" class="toggle-button-max" (click)="isFirstDivMinimized = !isFirstDivMinimized">
    >>
  </button>

  <div [ngStyle]="{'display': isSecondDivMinimized ? 'none' : 'block'}" class="scrollable-div">
    <button class="toggle-button" (click)="isSecondDivMinimized = !isSecondDivMinimized">
      >>
    </button>
    <app-gswb-vis #g1></app-gswb-vis>
  </div>
  <button *ngIf="isSecondDivMinimized" class="toggle-button-max" (click)="isSecondDivMinimized = !isSecondDivMinimized">
    <<
  </button>
</div>

