<h3>
  Meaning constructors:
</h3>
<div class="editor-restr">
<app-editor #edit1 [mode]="'glue'" >
</app-editor>
</div>

<app-gswb-settings #gswbPrefs></app-gswb-settings>
<button (click)="calculateSemantics()">
  <span *ngIf="!loading">Calculate semantics</span>
  <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  <span *ngIf="loading">Loading...</span>
</button>

<div class="errorhandling" #errorhandle></div>

<h3> Semantics: </h3>
<div class="editor-restr">
<app-editor #sem1 [mode]="'glue'">  </app-editor>
  </div>
<h3>Log:</h3>
<div class="editor-restr">
  <app-editor #log1 [mode]="'glue'">  </app-editor>
</div>

<app-derivation-container #derivation>

</app-derivation-container>
<app-dialog #dialog></app-dialog>
