<h3>
  Meaning constructors:
</h3>
<div class="editor-restr">
<app-editor #edit1 [mode]="'glue'" >
</app-editor>
</div>

<app-gswb-settings #gswbPrefs></app-gswb-settings>
<button (click)="calculateSemantics()">Calculate semantics</button>


<h3> Semantics: </h3>
<div class="editor-restr">
<app-editor #sem1 [mode]="'glue'">  </app-editor>
  </div>
<h3>Log:</h3>
<div class="editor-restr">
  <app-editor #log1 [mode]="'glue'">  </app-editor>
</div>

<app-derivation-container #derivation>

</app-derivation-container>
<app-dialog #dialog></app-dialog>
