.CodeMirror {
  resize: both;
  max-width: 100%; /* Ensure the div doesn't exceed parent's width */
  max-height: 100%; /* Ensure the div doesn't exceed parent's height */
}

.editor-container {
  position: relative;
  display: block;
  border-style: solid;
  border-color: #00a9e0;
  overflow: hidden;
  max-width: 100%; /* Ensure the div doesn't exceed parent's width */
  max-height: 100%; /* Ensure the div doesn't exceed parent's height */
  background-color: lightblue;
}

.cm-rule_separator {
  color: #0900ff;
  font-weight: bold;
}

.cm-liger_node_var
{
  color: #00c4ff;
}

.cm-liger_val_var
{
  color: #08d700;
}

.cm-liger_conjunction
{
  color: #ff0000;
}

.cm-angular_brackets
{
  color: #d100ff;
}


/* Highlight matching brackets with a background */
.CodeMirror-matchingbracket {
  background-color: rgba(255, 165, 0, 0.5) !important; /* Light orange background */
  border-radius: 3px;
}

/* Highlight unmatched brackets with a stronger background */
.CodeMirror-nonmatchingbracket {
  background-color: rgba(255, 0, 0, 0.7) !important; /* Strong red background */
  border-radius: 3px;
}
