.CodeMirror {
  resize: both;
  max-width: 100%; /* Ensure the div doesn't exceed parent's width */
  max-height: 100%; /* Ensure the div doesn't exceed parent's height */
}

.editor-container {
  position: relative;
  display: block;
  border-style: solid;
  border-color: #00a9e0;
  overflow: hidden;
  max-width: 100%; /* Ensure the div doesn't exceed parent's width */
  max-height: 100%; /* Ensure the div doesn't exceed parent's height */
}

.cm-rule_separator {
  color: #0900ff;
  font-weight: bold;
}

.cm-liger_node_var
{
  color: #00c4ff;
}

.cm-liger_val_var
{
  color: #08d700;
}

.cm-liger_conjunction
{
  color: #ff0000;
}

.cm-angular_brackets
{
  color: #d100ff;
}


