<div class="editor-restr">
  <div class="sem-vis">
    <div class="controls" *ngIf="items?.length; else noItems">
      <button type="button" (click)="prev()">◀ Prev</button>

      <span class="status">
      {{ index + 1 }} / {{ items.length }}
    </span>

      <button type="button" (click)="next()">Next ▶</button>
    </div>

    <ng-template #noItems>
      <div class="controls">
        <span>No items.</span>
      </div>
    </ng-template>
  <app-editor #sem [mode]="'glue'">  </app-editor>
</div>
</div>

