<div class="frame">

  <div class="container">
    <h1>Semantic parser settings</h1>
    <app-toggle-display #toggleDisplayComponent type="fileTree" showText="Show settings" hideText="Hide settings">
      <div class="grammar-loader-container">
        <div>
          <h2>Rule file selection:</h2>
          <app-rule-loader (dataEmitter)="updateData($event)"></app-rule-loader>
        </div>
      </div>
    </app-toggle-display>
  </div>
<h3>
  Testsuite:
</h3>

  <div class="editor-restr">
<app-editor #testsuite [mode]="'text'"> </app-editor>
  </div>
  <br>

  <app-toggle-display type="liger" showText="Show input rules" hideText="Hide input rules">
<h3>
  Test rules:
</h3>
    <div class="gradient-container">
    <div class="editor-restr">

  <app-editor #ligerRules [mode]="'liger'"> </app-editor>
</div>
      <div class="bar-container">
        <div class="gradient-bar"></div>
        <div class="empty-space"></div>
      </div>
    </div>

</app-toggle-display>


<app-gswb-settings #gswbSettings></app-gswb-settings>


<button (click)="batchParse(testsuite.getContent(), ligerRules.getContent())">
  <span *ngIf="!loading">Parse all</span>
  <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  <span *ngIf="loading">Loading...</span>
</button>

  <div class="errorhandling" #errorhandle></div>

<h3>
  Report:
</h3>

  <div>
    <div class="result-container" *ngFor="let element of regressionTestResults; let i = index">
      <app-test-result [data]="element" >
      </app-test-result>
    </div>
  </div>
  <br>
  <br>
  <app-toggle-display type="liger" showText="Show applied rules" hideText="Hide applied rules">
<h3>
  Applied rules:
</h3>

<div>
<app-applied-rules-graph #arcy [graphID]="'arCy1'"></app-applied-rules-graph>
</div>
  </app-toggle-display>
</div>
