<div class="frame">
<h3>
  Testsuite:
</h3>
<app-editor #testsuite [mode]="'text'"> </app-editor>

  <br>


<h3>
  Test rules:
</h3>
<div class="gradient-container">
  <app-editor #ligerRules [mode]="'liger'"> </app-editor>
  <div class="bar-container">
    <div class="gradient-bar"></div>
  </div>
</div>

<app-gswb-settings #gswbSettings></app-gswb-settings>


<button (click)="batchParse(testsuite.getContent(), ligerRules.getContent())">Parse all</button>

<h3>
  Report:
</h3>

<textarea #ligerreport>
</textarea>
  <textarea #gswbreport>

  </textarea>



<h3>
  Applied rules:
</h3>

<div>
<app-applied-rules-graph #arcy [graphID]="'arCy1'"></app-applied-rules-graph>
</div>
</div>
