.gradient-container {
  display: flex;
  align-items: stretch; /* this ensures that the children of the container stretch to fill the container */
  width: 50%; /* set width to .gradient-container directly */
  max-width: 100%;
}

.bar-container {
  display: flex;
  flex-direction: column;
}

.gradient-bar {
  flex-grow: 1;
  width: 20px; /* adjust this to change the width of the bar */
  background: linear-gradient(to bottom, yellow, red);
}

.empty-space {
  width: 20px; /* match the width of the gradient bar */
  height: 20px; /* adjust this to change the height of the empty space */
}


