<div class="navigation"
     [class.expanded]="isNavigationVisible"
     (mouseenter)="showNavigation()"
     (mouseleave)="hideNavigation()">
  LiGER:
  <label class="switch">
    <input type="checkbox" (change)="toggleAll()">
    <span class="slider"></span>
  </label>

  <div class="navigation-content" *ngIf="isNavigationVisible">
    <ul>
      <!-- Navigation items -->
      <li class="has-submenu">
        <a routerLink="/demo">Analysis</a>
        <ul class="submenu">
          <li><a routerLink="/glue">GSWB</a></li>
          <li><a routerLink="/liger">LiGER</a></li>
        </ul>
      </li>
      <li><a routerLink="/regression">Regression testing</a></li>
      <!-- <li><a routerLink="/inference">Inference</a></li> deactivated for demo -->
      <li><a routerLink="/chat">Chat</a></li>
      <li><a routerLink="/home">Home</a></li>
    </ul>
  </div>
</div>
<div class="page-content">
  <router-outlet></router-outlet>
  <!-- The router-outlet will display the content of the active route -->
</div>
