<div>
<h1> The XLE+Glue web application</h1>


<p>This application presents several resources used for exploring LFG's glue semantics. Concretely, it presents the
<a href="https://github.com/Mmaz1988/GlueSemWorkbench_v2"> Glue semantics workbench </a>and the <a href="https://github.com/Mmaz1988/liger">
    LiGER rewrite system </a>. It also serves as a revised frontend for the original
  <a href="https://github.com/Mmaz1988/xle-glueworkbench-interface">XLE + Glue</a>. As all of these resources, this frontend is open source.
It is available at: <a href="https://github.com/Mmaz1988/xleplusglue-client">XLE+Glue client</a> </p>

<h2>Using the system</h2>

This system is designed for explorative analysis of formal linguistic annotation tools. It provides several interfaces:

<ul>
  <li> <a href="/demo ">Demo</a> - a simple interface for testing the LiGER rewrite system and the Glue semantics workbench.</li>
  <li> <a href="/regression">Regression testing</a> - An interface for incremental testing of XLE+Glue grammars.</li>
  <li> <a href="/inference">Inference</a> - An interface for testing the inference capabilities of XLE+Glue.</li>
</ul>
</div>
